.axis--x path {
  display: none;
  font-size: 20px;
}

#schoolSelector {
  font-size: 20px;
}

.axis--y {
  font-size: 16px;
}

.axis--x {
  font-size: 16px;
}

.label-y {
  font-size: 20px;
}

.dataWrapper {
  width: 960px;
  margin: auto;
}

.dataWrapper h2, .dataWrapper h3 {
  text-align: center;
}

.btn-group-wrapper {
  text-align: center;
}

.line {
  fill: none;
  stroke-width: 4px;
}

.next-button-wrapper {
  width: 100%;
  text-align: center;
}
.next-graph-button:hover {
  cursor: pointer
}
